@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #FFD31D;
}

.container {
    background-color: aliceblue;
    font-size: 16px;
    width: 90vw;
    max-width: 32em;
    padding: 3em 2.8em;
    position: absolute;
    transform: translateX(-50%);
    top: 1em;
    left: 50%;
    border-radius: 8px;
    box-shadow: 0 1.25em 1.8em rgb(54, 64, 26);
}

.search-container {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}

.search-container button {
    font-size: 1em;
    background-color: #FFD31D;
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.search-container input {
    font-size: 1em;
    padding: 0.62em;
    border: none;
    outline: none;
    border-bottom: 2px solid #FFD31D;
    color: rgb(26, 24, 30);
}

img {
    display: block;
    width: 50%;
    margin: 1.8em auto 0 auto;
}

.details {
    background-color: #FFD31D;
    position: relative;
    margin: -4.3em 0 0 0;
    text-align: center;
    padding: 0.6em 0;
    color: black;
}

.details h2 {
    font-size: 1.2em;
    font-weight: 600;
}

.details h4 {
    font-size: 1em;
    font-weight: 400;
}

#show-recipe {
    font-size: 1em;
    position: relative;
    left: 75%;
    padding: 0.9em 0.6em;
    background-color: #FFD31D;
    border: none;
    top: 1.5em;
    border-radius: 0.3em;
    font-weight: 600;
    color: black;
}

#recipe {
    position: absolute;
    background-color: white;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 0.6em;
    color: rgb(36, 36, 36);
    display: none;
}

#recipe pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 2.5em 1.2em 1.2em 1.2em;
}

#hide-recipe {
    font-size: 1em;
    position: relative;
    width: 1.8em;
    height: 1.8em;
    background-color: #FFD31D;
    border: none;
    top: 1.2em;
    left: 90%;
    border-radius: 5px;
}

ul {
    font-size: 1em;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.8em 1.1em;
    padding: 1.2em 0 0 1.2em;
}

h3 {
    text-align: center;
    margin-top: 1.8em;
    color: rgb(205, 69, 57);
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    [class*="container"] {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .container {
        font-size: 14px;
    }
}